/* Default css file for jemdoc. */

table#tlayout {
	padding-bottom: 0;
	height: calc(100vh - 70px);
	background: none;
	border: none;
}

body {
  /*color: white;*/
	background: none;
	/* font-family: Arial, Helvetica, sans-serif; */
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	padding: 0;
	font-size: 16px;
	margin: 0;
}

#layout-menu {
	/*background: #f6f6f6;*/
	background: #f6f8fa;
	/*border: 1px solid #dddddd;*/
	border: none;
	padding: 0px;
	padding-top: 10px;
	padding-bottom: 25px;
	font-size: 1.0em;
	min-width: 280px;
	width: 280px;
	white-space: nowrap;
	text-align: left;
	vertical-align: top;
	border-right: 0.8px solid #e1e4e8;
}

#layout-menu td {
	/*background: #f4f4f4;*/
	vertical-align: top;
}

#layout-content {
	padding-top: 25px;
	padding-bottom: 25px;
	padding-left: max(calc(50% - 600px), 25px);
	padding-right: max(calc(50% - 600px), 25px);
	border: none;
	background: white;
	text-align: left;
	vertical-align: top;
	min-width: 850px;
	width: 100%;
}

#layout-menu a {
	padding: 0px;
	line-height: 2;
}

tt {
	background: #f3f5f7;
	color: black;
}

pre, tt {
	padding: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-size: 87.5%;
	font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier, monospace;
	border-radius: 5px;
	line-height: 1.5;
}

a, a > tt {
	color: #0366d6;
	text-decoration: none;
}

a:hover, a:hover > tt{
	/*border-bottom: 1.25px #0366d6 dashed;*/
	color: #ea4aaa;
}

#layout-menu a.current:link, #layout-menu a.current:visited {
	color: #586069;
	font-weight: 600;
}
#layout-menu a:link, #layout-menu a:visited, #layout-menu a:hover {
	color: #0366d6;
	text-decoration: none;
}
#layout-menu a:hover {
	color: #ea4aaa;
	text-decoration: none;
}

div.menu-category {
	margin-top: 16px;
	padding-top: 8px;
	padding-bottom: 0.1em;
	padding-left: 25px;
	padding-right: 25px;
	font-size: 20px;
	line-height: 2;
	border-top: 0.8px solid #e1e4e8;
}

div.menu-item {
	font-size: 16px;
	padding-left: 25px;
	padding-right: 25px;
}

div#toptitle {
	padding-bottom: 0.2em;
	margin-bottom: 1.5em;
	border-bottom: 1px solid #e1e4e8;
}

/* Reduce space if we begin the page with a title. */
div#toptitle + h2, div#toptitle + h3 {
	margin-top: -0.7em;
}

div#subtitle {
	margin-top: 0.0em;
	margin-bottom: 0.0em;
	padding-top: 0em;
	padding-bottom: 0.1em;
}

em {
	font-style: italic;
}

strong {
	font-weight: bold;
}


h1, h2, h3 {
	padding-bottom: 0.2em;
	line-height: 1.25;
	padding-top: 0.5em;
	border-bottom: 0.7px solid #e1e4e8;
	font-weight: 400;
}

h1 {
	font-size: 32px;
}

h2 {
	padding-top: 0.8em;
	margin-bottom: 16px;
	font-size: 24px;
}

h2 + h3 {
	padding-top: 4px;
}

h3 {
	font-size: 20px;
	padding-top: 0px;
	margin-bottom: 0px;
	border-bottom: none;
}

p {
	font-size: 16px;
	line-height: 1.5;
	margin-top: 0.0em;
	margin-bottom: 0.8em;
	padding: 0;
	text-align: justify;
}

pre {
	padding: 0;
	margin: 0;
}

div#footer {
	font-size: small;
	padding-top: 0.1em;
	margin-top: 4.0em;
	color: #c0c0c0;
}

div#footer a {
	color: #80a0b0;
}

div#footer-text {
	float: left;
	padding-bottom: 8px;
}

ul, ol, dl {
	margin-top: 0.2em;
	padding-top: 0;
	margin-bottom: 0.8em;
}

dt {
	margin-top: 0.5em;
	margin-bottom: 0;
}

dl {
	margin-left: 20px;
}

dd {
	color: #222222;
}

dd > *:first-child {
	margin-top: 0;
}

ul {
	list-style-position: outside;
	list-style-type: square;
}

p + ul, p + ol {
	margin-top: -0.5em;
}

li ul, li ol {
	margin-top: -0.3em;
}

ol {
	list-style-position: outside;
	list-style-type: decimal;
}

li p, dd p {
	margin-bottom: 0.3em;
}


ol ol {
	list-style-type: lower-alpha;
}

ol ol ol {
	list-style-type: lower-roman;
}

p + div.codeblock {
	margin-top: 0.6em;
}

div.codeblock, div.infoblock {
	margin-right: 0%;
	margin-top: 1.2em;
	margin-bottom: 1.3em;
}

div.blocktitle {
	color: #0366d6;
	font-size: 20px;
	line-height: 2;
}

div.blockcontent {
	padding: 10px;
}

div.infoblock > div.blockcontent {
	background: #fffbdd;
	border: 1px solid #f9c513;
	border-radius: 9px;
	color: #f9c513;
}

div.blockcontent p + ul, div.blockcontent p + ol {
	margin-top: 0.4em;
}

div.infoblock p {
	margin-bottom: 0em;
}

div.infoblock li p, div.infoblock dd p {
	margin-bottom: 0.5em;
}

div.infoblock p + p {
	margin-top: 0.8em;
}

div.codeblock > div.blockcontent {
	border: none;
	border-radius: 10px;
	background: #f6f8fa;
}

span.pycommand {
	color: #000070;
}

span.statement {
	color: #008800;
}
span.builtin {
	color: #000088;
}
span.special {
	color: #990000;
}
span.operator {
	color: #880000;
}
span.error {
	color: #aa0000;
}
span.comment, span.comment > *, span.string, span.string > * {
	color: #606060;
}

@media print {
	#layout-menu {
		display: none;
	}

}

#fwtitle {
	margin: 2px;
}

#fwtitle #toptitle {
	padding-left: 0.5em;
	margin-bottom: 0.5em;
}

#layout-content h1:first-child, #layout-content h2:first-child, #layout-content h3:first-child {
	margin-top: -0.7em;
}

div#toptitle h1, #layout-content div#toptitle h1 {
	margin-bottom: 0.0em;
	padding-bottom: 0.1em;
	padding-top: 0;
	margin-top: 0.5em;
	border-bottom: none;
}

img.eq {
	padding: 0;
	padding-left: 0.1em;
	padding-right: 0.1em;
	margin: 0;
}

img.eqwl {
	padding-left: 2em;
	padding-top: 0.6em;
	padding-bottom: 0.2em;
	margin: 0;
}

table {
	border-collapse: collapse;
}



td {
	padding-left: 0.5em;
	padding-right: 0.5em;
	text-align: center;
	border: 1px solid #d1d5da;
	line-height: 2;
}

table + table {
	margin-top: 1em;
}

img {
	border: none;
	padding: 0px;
	margin-right: 15px;
	border-radius: 10px;
}

table.imgtable, table.imgtable td {
	text-align: justify;
	vertical-align: top;
	border: none;
	padding: 0px;
	border-spacing: 0px;
}

table.imgtable h2{
	border-bottom: none;
	font-size: 	26px;
	margin: 0px;
}

table.imgtable h3{
	font-size: 	18px;
	font-weight: 400;
	line-height: 1;
	margin-top: 0px;
}

table.imgtable h2 + table.imgtable h3{
	padding-top: 0px;
	margin-top: 0px;
}

table.imgtable p{
}
